.home {
    background: url('./background.jpg') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
}

.section2 {
    background: url('https://images.pexels.com/photos/614117/pexels-photo-614117.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
}

* {
    transition: .3s all ease;
}

.Default-nav {
    background-color: white;
}

.Transparent {
    background-color: transparent;
}